/*.header{
  background-color: #f1f1f1;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;

  top:0;



}*/
.split {

  height:100%;
  position: fixed;
  z-index: 1;
  top:0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {

  width: 30%;
  left: 0;
  background-color: #111;
}
.right {

  width: 70%;
  right: 0;
  background-color: red;
  font-size:30px;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img {
  width: 150px;
  border-radius: 50%;

}
